# Created by .ignore support plugin (hsz.mobi)
.idea/misc.xml
.idea/modules.xml
.idea/samsung_hackathon.iml
.idea/workspace.xml
scg_web/models/
scg_web/node_modules/
scg_web/node_modules/normalize-package-data/test/normalize.js~
