<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/header.js"></script>
    <title></title>
</head>
<body>
    <!--header-->
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">SCG</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="#">Login</a></li>
                    <li><a href="#">Info</a></li>
                    <li><a href="#">Func</a></li>
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>