<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/info.css" rel="stylesheet">
    <link href="bower_components/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <link href="bower_components\sb-admin-2\css\plugins\timeline.css" rel="stylesheet" type="text/css">
    <link href="bower_components\sb-admin-2\css\plugins\morris.css" rel="stylesheet" type="text/css">
    <link href="bower_components\sb-admin-2\css\plugins\metisMenu\metisMenu.min.css" rel="stylesheet" type="text/css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/header.js"></script>
    <script src="bower_components/sb-admin-2/js/sb-admin-2.js"></script>

    <title></title>
</head>
<body>
    <!--header-->
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">SCG</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li><a href="#">Login</a></li>
                    <li class="active"><a href="#">Timeline</a></li>
                    <li><a href="#">Set</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Timeline -->
    <div class="container">
        <div class="panel panel-default">
            <!--<div class="panel-heading">-->
                <!--<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline-->
            <!--</div>-->
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">강성필</h4>
                                <small class="text-muted"><i class="fa fa-clock-o"></i> 1 hours ago via Android</small>
                            </div>
                            <div class="timeline-body">
                                To PM 06:00<br>
                                Mode : Meat
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

</body>
</html>