
<div id="page-wrapper" style="min-height: 299px;">
    <div id="update" class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Information Input</div>
                <div class="panel-body">
                    <div class="row">
                        <form id="inputForm" role="form" ng-submit="submit()">
                            <div class="form-group">
                                <label>Time Selects</label>
                                <select id="toTime" ng-model="toTime" name="toTime" class="form-control">
                                    <option selected="true">PM 06:00</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Mode Selects</label>
                                <select name="mode" ng-model="mode" class="form-control">
                                    <option value="1">Meat and Fish</option>
                                    <option value="2">Vegetables</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default">Information Update!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/layout.js"></script>
<!-- /#page-wrapper -->
